NODE_ENV=production
VPI_APP_ENV='dev/test/prod'

RECORD_CACHE_MS = 60000

ACCESS_TOKEN_URL='url here'
CLIENT_ID='id here'
CLIENT_SECRET='secret here'
UPSTREAM_BASE_URL=http://www.google.com
MAX_FILE_SIZE_BYTES='integer number of bytes here'
SUPPORT_NETWORK_ENDPOINT=/endpoint/path/here
IN_PERSON_VISITS_ENDPOINT=/endpoint/path/here
IN_PERSON_VISITS_POST_ENDPOINT=/endpoint/path/here
CASE_ENDPOINT=/endpoint/path/here
INCIDENT_ENDPOINT=/endpoint/path/here
SR_ENDPOINT=/endpoint/path/here
MEMO_ENDPOINT=/endpoint/path/here
ATTACHMENTS_ENDPOINT=/endpoint/path/here
ATTACHMENTS_AFTER_FIELD='after field here'
ATTACHMENTS_POST_ENDPOINT=/endpoint/path/here
CASE_CONTACTS_ENDPOINT=/endpoint/path/here
INCIDENT_CONTACTS_ENDPOINT=/endpoint/path/here
SR_CONTACTS_ENDPOINT=/endpoint/path/here
MEMO_CONTACTS_ENDPOINT=/endpoint/path/here
SAFETY_ASSESSMENTS_ENDPOINT=/endpoint/path/here
SAFETY_ASSESSMENTS_AFTER_FIELD='after field here'
INCIDENT_RESPONSE_NARRATIVES_ENDPOINT=/endpoint/path/here
SR_RESPONSE_NARRATIVES_ENDPOINT=/endpoint/path/here
RESPONSE_NARRATIVES_AFTER_FIELD='after field here'
CASE_WORKSPACE='workspace here'
INCIDENT_WORKSPACE='workspace here'
SR_WORKSPACE='workspace here'
MEMO_WORKSPACE='workspace here'
SUPPORT_NETWORK_WORKSPACE='workspace here'
IN_PERSON_VISITS_WORKSPACE='workspace here'
ATTACHMENTS_WORKSPACE='workspace here'
ATTACHMENTS_POST_WORKSPACE='workspace here'
IN_PERSON_VISITS_POST_WORKSPACE='workspace here'
CONTACTS_WORKSPACE='workspace here'
SAFETY_ASSESSMENTS_WORKSPACE='workspace here'
RESPONSE_NARRATIVES_WORKSPACE='workspace here'
CASE_IDIR_FIELD='idir field here'
CASE_SEARCHSPEC_IDIR_FIELD='idir field here'
CASE_AFTER_FIELD='after field here'
CASE_RESTRICTED_FIELD='restricted field here'
CASE_TYPE_FIELD='type field here'
INCIDENT_IDIR_FIELD='idir field here'
INCIDENT_SEARCHSPEC_IDIR_FIELD='idir field here'
INCIDENT_AFTER_FIELD='after field here'
INCIDENT_RESTRICTED_FIELD='restricted field here'
SR_IDIR_FIELD='idir field here'
SR_SEARCHSPEC_IDIR_FIELD='idir field here'
SR_AFTER_FIELD='after field here'
SR_RESTRICTED_FIELD='restricted field here'
MEMO_IDIR_FIELD='idir field here'
MEMO_SEARCHSPEC_IDIR_FIELD='idir field here'
MEMO_AFTER_FIELD='after field here'
MEMO_RESTRICTED_FIELD='restricted field here'
EMPLOYEE_WORKSPACE='workspace here'
EMPLOYEE_ENDPOINT=/endpoint/path/here
SKIP_AUTH_GUARD=false
SKIP_JWT_CACHE=false

# Cypress testing only variables. Not required for build
CYPRESS_BASE_URL=url/including/version/here
CYPRESS_BEARER_TOKEN='token here'
CYPRESS_CASE_GET_VISITS='case rowId here'

# Clam AV configuration variables
CLAM_DEBUG_MODE='false'
CLAMD_HOST='host name here'
CLAMD_PORT='port here'
CLAMD_TIMEOUT='scan timeout here'
CLAMD_CONFIG_FILE='config file location or null here'
CLAMD_MULTI_SCAN='false'
CLAMD_BYPASS_TEST='false'

# Certificates
CA_CERT='ca certificate here'
SERVER_CERT='server certificate here'
SERVER_KEY='server key here'